<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEventController</servlet-name>
  	<display-name>AddEventController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.AddEventController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpController</servlet-name>
  	<display-name>SignUpController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.SignUpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditController</servlet-name>
  	<display-name>EditController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.EditController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.UpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditControl</servlet-name>
  	<display-name>EditControl</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.EditControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteController</servlet-name>
  	<display-name>DeleteController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EventController</servlet-name>
  	<display-name>EventController</display-name>
  	<description></description>
  	<servlet-class>com.test.techtalks.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEventController</servlet-name>
  	<url-pattern>/AddEventController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpController</servlet-name>
  	<url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditController</servlet-name>
  	<url-pattern>/EditController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditControl</servlet-name>
  	<url-pattern>/EditControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EventController</servlet-name>
  	<url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>SignUp.jsp</welcome-file>
</welcome-file-list>
</web-app>
